body {
  background: #001e38;
  height: 1000vh;
}

html {
  scroll-behavior: smooth;
}

.container {
  padding: 0 15px;
  width: 700px;
  margin: auto;
  background-color: #60f4a0;
  border-radius: 10px;
}

.uuu {
  background-color: #ddd;
  color: #001e38;
  width: 20px;
  border-radius: 15px;
  padding: 10px;
  right: 1%;
  height: 20px;
  position: fixed;
  text-align: center;
  cursor: pointer;
  animation: up 1.5s linear infinite;
  display: none;
  z-index: 2;
}

.uuu:hover {
  background-color: #111;
  color: white;
}

@keyframes up {
  0%,
  100% {
    top: 50%;
  }
  50% {
    top: 43%;
  }
}

@media (max-width: 767px) {
  .landing img {
    width: 150px !important;
    bottom: 0%;
    right: 5%;
  }
  .container {
    width: 90%;
  }
  .landing {
    text-align: center;
    padding-bottom: 25px;
  }
  .header .link {
    display: none;
  }
  img {
    width: 100px !important;
  }
  .header .link {
    display: block;
  }
  .link-show {
    display: none;
  }
  .landing .intro-text h1 {
    font-size: 30px !important;
    width: 80% !important;
    padding-left: 25px;
  }
  .landing .intro-text h1 span {
    font-size: 35px !important;
  }
  .landing .intro-text p {
    font-size: 15px !important;
    width: 350px !important;
    padding-left: 25px;
    z-index: 1;
  }
  .intro-text {
    margin-left: 30px;
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 700px !important;
    margin-top: -205px;
  }
  .boxes .imac .immm img {
    width: 250px !important;
  }
  .boxes .iwatch .immm img,
  .boxes .ipad .immm img,
  .boxes .iphone .immm img {
    width: 150px !important;
  }
  .one,
  .two,
  .three,
  .four,
  .zero {
    background-color: #001e38;
    color: white;
    border-radius: 20px;
    padding: 10px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 10px;
  }
}

@media (min-width: 768px) {
  .header .link {
    display: block;
  }
  .link-show {
    display: none;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
  .header .link {
    display: none;
  }
  .link-show {
    display: block;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
  .header .link {
    display: none;
  }
}

.header {
  padding: 20px;
}

.header img {
  width: 150px;
}

.header .logo {
  width: 60px;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .link:hover .icon span:nth-child(2) {
  width: 100%;
}

.header .link .icon {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  cursor: pointer;
}

.header .link .icon span {
  background-color: #001e38;
  margin-bottom: 5px;
  height: 2px;
  position: relative;
}

.header .link .icon span:first-child {
  width: 100%;
}

.header .link .icon span:nth-child(2) {
  width: 60%;
  transition: 0.3s;
}

.header .link .icon span:last-child {
  width: 100%;
}

.header .link {
  position: relative;
}

.header .link ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #f6f6f6;
  position: absolute;
  border-radius: 10px;
  right: 0;
  min-width: 200px;
  top: calc(100% + 15px);
  display: none;
  z-index: 5;
}

.header .link ul::before {
  content: "";
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #f6f6f6 transparent;
  position: absolute;
  right: 5px;
  top: -19px;
}

.header .link ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #333;
  transition: 0.3s;
}

.header .link ul li a:hover {
  padding-left: 25px;
}

.header .link ul li:not(:last-child) a {
  border-bottom: 1px solid #ddd;
}

.show {
  display: block !important;
}

.header .link-show a {
  text-decoration: none;
  color: #333;
  padding: 15px;
}

.header .link-show a:hover {
  color: #ffffff;
}

.custom-shape-divider-bottom-1678984849 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 106%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1678984849 svg {
  position: relative;
  display: block;
  width: calc(165% + 1.3px);
  height: 343px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1678984849 .shape-fill {
  fill: #60f4a0;
}

.landing {
  height: calc(100vh - 113px);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  /* flex-direction: row; */
}

.intro-text {
  text-align: left;
  display: flex;
  flex-direction: column;
  width: 1200px;
}

.landing .intro-text h1 {
  margin: 0;
  font-size: 40px;
  color: white;
  width: 70%;
}

.landing .intro-text h1 span {
  color: #60f4a0;
  font-weight: bold;
  font-size: 60px;
}

.landing .intro-text p {
  font-size: 18px;
  line-height: 2;
  color: #ddd;
  width: 60%;
}

.imgg {
  width: 200px;
  position: absolute;
  bottom: 0;
  right: 100px;
}

.landing img {
  width: 260px;
  transform: rotate(-20deg);
  transition: transform 2s ease;
  animation: rotate 3s linear infinite;
}

@keyframes rotate {
  from {
    transform-origin: bottom right;
    transform: rotate(0deg);
  }
  to {
    transform-origin: 100px bottom -100px;
    transform: rotate(360deg);
  }
}

.ABOUT {
  margin-top: -8px;
  position: relative;
}

.ABOUT .container {
  padding: 20px;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

@media (max-width: 1200px) {
  .ABOUT .container .cards-About {
    display: flex !important;
    flex-wrap: wrap !important;
    flex-direction: column!;
  }
  .ABOUT .container .cards-About .card img {
    width: 100% !important;
  }
}

.main-title {
  margin: 10px;
  background-color: #001e38;
  border-radius: 15px;
  color: #ddd;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 20px;
  z-index: 1;
}

.ABOUT .container .main-title h1 {
  background-color: #60f4a0;
  /* padding: 5px; */
  border-radius: 15px;
  color: #001e38;
  font-size: 50px;
  width: 100%;
}

.ABOUT .container .cards-About {
  display: flex;
  justify-content: space-around;
  color: #ddd;
  font-size: 20px;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  z-index: 1;
}

.ABOUT .container .cards-About .card {
  background-color: #001e38;
  border-radius: 15px;
  padding: 5px;
  margin: 20px;
  transition: 0.5s ease;
  width: 300px;
  height: 400px;
}

.ABOUT .container .cards-About .card:hover {
  transform: scale(1.1, 1.1);
}

.ABOUT .container .cards-About .card img {
  width: 300px;
  border-radius: 15px;
}

.custom-shape-divider-top-1679078634 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1679078634 svg {
  position: relative;
  display: block;
  width: calc(196% + 1.3px);
  height: 327px;
}

.custom-shape-divider-top-1679078634 .shape-fill {
  fill: #60f4a0;
}

.FEATURES {
  /* height: 100vh; */
  position: relative;
}

.FEATURES .container {
  padding: 0 20px !important;
  margin-top: -25px;
  /* margin-top: -25px; */
}

.main-title h1 {
  color: #001e38;
  background-color: #60f4a0;
  width: 100%;
  border-radius: 15px;
  text-align: center;
  font-size: 50px;
}

.card-FEATURES {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card-FEATURES .carddd {
  width: 300px;
  height: 300px;
  background-color: #001e38;
  margin: 30px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px;
  color: white;
  position: relative;
}

.card-FEATURES .carddd p {
  font-size: 20px;
}

.card-FEATURES .carddd a {
  font-size: 50px;
  position: absolute;
  background-color: white;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  border-radius: 50%;
  top: -55px;
  text-decoration: none;
  color: #001e38;
}

.show {
  display: block;
}

.hidden {
  display: none;
}

.disddd {
  display: none;
}

.ONLINE .container {
  padding: 20px;
  margin-top: -15px;
}

.Kinds {
  background-color: #001e38;
  border-radius: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Kinds .Lists {
  align-items: center;
  justify-content: space-around;
  background-color: #60f4a0;
  /* width: 100%; */
  width: 90%;
  border-radius: 15px;
  text-align: center;
  display: flex;
  flex-direction: row;
  margin: 15px;
  padding: 15px;
  padding-top: 15px;
}

.one,
.two,
.three,
.four,
.zero {
  background-color: #001e38;
  color: white;
  border-radius: 20px;
  padding: 10px;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.one:hover,
.two:hover,
.three:hover,
.four:hover,
.zero:hover {
  color: #60f4a0;
}

.boxes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.boxes .box img {
  width: 50%;
}

.boxes .box .titlee {
  margin-top: 55px;
}

.boxes .box .immm {
  height: 50%;
  margin-bottom: 15px;
}

.boxes .box {
  background-color: #60f4a0;
  border-radius: 15px;
  width: 300px;
  height: 340px;
  margin: 15px;
  padding: 15px;
}

.boxes .box .info {
  background-color: #001e38;
  color: #ddd;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-radius: 15px;
}

.boxes .box .info h4 {
  cursor: pointer;
  font-size: 110%;
}

.boxes .box .info h4:hover {
  color: #60f4a0;
}

.scroll {
  background-color: #60f4a0;
  border-radius: 15px;
  padding: 10px;
  margin: 15px;
}

.scroll .icon {
  display: flex;
  flex-direction: row;
  font-size: 35px;
  color: #001e38;
}

.ones,
.twos,
.threes {
  margin: 5px;
  cursor: pointer;
  padding: 5px;
}

.ones:hover,
.twos:hover,
.threes:hover {
  color: white;
}

.twoo {
  display: none;
}

.threee {
  display: none;
}

.showw {
  display: flex;
}

.disss {
  display: none;
}

.cooo,
.dddds {
  position: absolute;
  background-color: red;
  border-radius: 50%;
  text-align: center;
  color: white;
  top: 30px;
  right: 15px;
  width: 15px;
  height: 15px;
  font-size: 10px;
  display: none;
}

.dddds {
  top: px;
  right: 151px;
}

.header .container {
  position: relative;
}

.NEWS .container .main-title p {
  text-align: center;
}

.NEWS .container .cards-About {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.NEWS .container .cards-About .card {
  overflow: hidden;
  width: 350px;
  height: 520px;
  background-color: #001e38;
  border-radius: 15px;
  color: #ddd;
  margin: 15px;
}

.NEWS .container .cards-About .card p {
  margin: 5px;
}

.NEWS .container .cards-About .card img {
  width: 400px !important;
  height: 220px !important;
  margin-left: -5%;
}

.NEWS .container .cards-About .card .info .interaction .head .imoj span {
  margin-left: 5px;
  font-size: 17px;
}

.NEWS .container .cards-About .card .info .interaction .head .imoj {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.NEWS .container .cards-About .card .info .interaction .head {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  margin: 15px;
}

.NEWS .container .cards-About .card .info .interaction .head .fa-thumbs-up {
  color: blue;
  font-size: 25px;
}

.NEWS .container .cards-About .card .info .interaction .head .fa-heart {
  font-size: 25px;
  color: red;
  margin-left: -5px;
}

.NEWS .container .cards-About .card .info .interaction .head .fa-face-surprise {
  font-size: 25px;
  color: yellow;
  margin-left: -5px;
}

.NEWS .container .cards-About .card .info .interaction .head .coment {
  display: flex;
  flex-direction: row;
}

.NEWS .container .cards-About .card .info .interaction .head .coment .num {
  padding: 0 5px;
}

.NEWS .container .cards-About .card .info .interaction .center {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  text-align: center;
}

.NEWS .container .cards-About .card .info .interaction .center i {
  color: #60f4a0;
  text-decoration: none;
  cursor: pointer;
}

.NEWS .container .cards-About .card .info .interaction .center span {
  color: #60f4a0;
  margin-left: -50px;
  cursor: pointer;
}

.NEWS
  .container
  .cards-About
  .card
  .info
  .interaction
  .foot
  input[type="text"] {
  width: 70%;
  border-radius: 5px;
  padding: 5px;
  border: 0;
  outline: none;
  font-size: 20px;
  background-color: #0a3154;
  color: white !important;
}

.NEWS
  .container
  .cards-About
  .card
  .info
  .interaction
  .foot
  input[type="submit"] {
  width: 20%;
  border-radius: 5px;
  padding: 5px;
  border: 0;
  outline: none;
  font-size: 20px;
  cursor: pointer;
  background-color: #0a3154;
  color: #ddd;
}

.NEWS
  .container
  .cards-About
  .card
  .info
  .interaction
  .foot
  input[type="submit"]:hover {
  background-color: #60f4a0;
  color: #001e38;
}
